.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    /* background: url(./images/bgg.jpg) no-repeat; */
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  nav {
    background-color: #333;
    height: 10vh;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 100px;  
    
  }
  
  nav ul li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 15px 15px;
    text-decoration: none;
    color: white;
    width: 0.5%;
    height: 0.5%;
    margin-right: 2em;
  }
  
  .logo{
    float:left;
    left:50px;
    background-color:none;
    font-size:30px;
    font-weight: 800;
    padding:10px 0;
  }
  .container {
    width: 50%;
    height: 500px;
    background:#FFF;
    margin: 0 auto;
    border: 2px solid #FFF;
    border-radius: 8px;
    box-shadow:0 15px 40px rgba(0,0,0,.5);
  }
  .container .left {
    margin: 0;
    padding: 0;
    float:left;
    width:50%;
    height:400px;
    /* background: url(./images/anticorrupt.png) no-repeat center; */
    background-size: contain;
    box-sizing: border-box;
    resize: both;
  
  }
  .container .right {
    float:right;
    width:50%;
    height:500px;
    box-sizing: border-box;
  }
  .form {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 500px;
    background: #FFF;
  }
  .form p {
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #333;
    text-align: left;
  }
  .form input {
    margin-bottom: 10px;
    width: auto;
  }
  /* .form input[type="email"],
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="radio"],
  .form input[type="textarea"], {
    border: 0;
    border-bottom: 2px solid #111;
    outline: none;
    height: 40px;
  } */
  input {
      width: 40%;
      border: 0;
      font-family: inherit;
      padding: 8px 0;
      height: 12px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid #C8CCD4;
      background: none;
      border-radius: 0;
      color: #223254;
      transition: all .15s ease;
  }
  button {
      width: 50%;
      border: 0;
      font-family: inherit;
      padding: 5px 0;
      height: 40px;
      font-size: 25px;
      font-weight: 500;
      background: #08a015;
      border-radius: 8px;
      color: white;
  }
  